*.dyn_hi
*.dyn_o
*.hi
*.o
*.pdf
*.exe
*.DS_Store
.stack-work/
dist-newstyle/
stack.yaml.lock
legacy-app/Auxiliary/Lexer.hs
legacy-app/Auxiliary/Lexer.info
legacy-app/Auxiliary/Parser.hs
legacy-app/Auxiliary/Parser.info
modelling-tasks.cabal
cd2alloy
cd2pic
different-names
instance2pic
match-cd-od
