*.dyn_hi
*.dyn_o
*.hi
*.o
*.pdf
*.DS_Store
.stack-work/
stack.yaml.lock
Lexer.hs
Lexer.info
Parser.hs
Parser.info
cd2alloy.exe
instance2pic.exe
cd2pic.exe
random-task.exe
alloy/RunAlloy.class
alloy-cd-od.cabal
