*.aux
*.el
*.dyn_hi
*.dyn_o
*.fdb_latexmk
*.fls
*.hi
*.log
*.o
*.pdf
*.ps1
*.synctex.gz
*.exe
*.DS_Store
.stack-work/
artifacts/
dist-newstyle/
stack.yaml.lock
stack-apps.yaml.lock
legacy-app/Auxiliary/Lexer.hs
legacy-app/Auxiliary/Lexer.info
legacy-app/Auxiliary/Parser.hs
legacy-app/Auxiliary/Parser.info
cd2alloy
cd2pic
different-names
instance2pic
match-cd-od
